.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input{
	font-size: 1.3rem;
	border: 2px solid rgb(184, 184, 184);
	border-radius: 8px;
	padding: 10px;
	outline: none;
}

input:focus{
	border-color: rgb(138, 35, 248);
}

.container{
	display: flex;
	flex-direction: column;
}

.mbox{
	display: inline-block;
	font-family: monospace;
	text-align: left;
	font-size: 1rem;
	padding: 10px;
	border: 1px solid #888;
	margin: 5px;
	border-radius: 8px;
}

.mbox > div{
	font-size: 1rem;
}

.mbox > div:nth-child(1){
	color: blue;
}

.mbox > div:nth-child(3){
	color:grey;
}